<body>
  <div class="main">
  <h1>Posts</h1>
  <p><%= notice %></p>
  
  <div class="container">
    <div id="posts">
      <% @posts.each do |post| %>
        <%= render post %>
        <p>
          <%= button_to "Show this post", post, :class => "btn btn-primary", :method => :get%>
        </p>
      <% end %>
    </div>

  <%= link_to "New post", new_post_path,:class => "btn btn-primary", :method => :get %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Demo Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Genre</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.name %></td>
                <td><%= post.title %></td>
                <td><%= post.content %></td>
                <td><%= post.genre %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>